sg-select-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.select-game__menu {
  height: 100px;
  margin-top: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.select-game__loading {
  margin-top: 16px;
  height: 100px;
  text-align: center;
}
