sg-letter-buttons {
  width: 100%;
  max-width: 500px;
}

.letter-buttons__cell {
  fill: var(--background-secondary);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.letter-buttons__cell.letter-buttons__cell--central {
  fill: var(--highlight);
}

.letter-buttons__cell.letter-buttons__cell--pressed {
  transform: scale(95%);
}

.letter-buttons__letter {
  fill: var(--text-primary);
  pointer-events: none;
}

.letter-buttons__letter.letter-buttons__letter--central {
  fill: var(--background);
}
